body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./img/bg1.png);
    background-size: cover;
    text-align: center;
    color: white;
    font-size: large;
    margin-top: 40px;
}

span {
    border-bottom: 2px solid black;
    padding: 8px;
}

#main-box {
    width: 250px;
    height: 420px;
    border-radius: 20px;
    position: relative;
    margin: 6% auto;
    background: transparent;
    padding: 20px;
    box-shadow: 0 0 20px 5px lightgray;
}

#screen-box {
    margin: 20px;
    margin-bottom: 30px;
    width: 215px;
    height: 60px;
    border-radius: 10px;
    background-color: black;
    color: white;
}

button {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    width: 60px;
    box-shadow: 0 0 30px 5px rgb(229, 227, 227);
    cursor: pointer;
}

#special-el {
    background-color: grey;
    color: white;
    font-weight: bolder;
}